.accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-header {
    margin-top: 0;
  }

  .account {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px 0;
    width: 100%;

    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    .info {
      flex: 1;
      display: flex;
    }

    .unlinked {
      flex: 1;
      display: flex;
      flex-direction: column;

      .info a {
        margin-left: auto;
      }

      > span {
        margin-top: 5px;
        font-size: 14px;
        opacity: .8;
      }
    }

    &.spotify {
      background-color: #1DB954;
      box-shadow: 0 2px 7px #15853c;
    }

    &.github {
      background-color: #292d32;
      box-shadow: 0 2px 7px #101213;
    }

    &.discord {
      background-color: #576aa5;
      box-shadow: 0 2px 7px #465686;
    }

    + h2 {
      margin-top: 50px;
    }
  }
}

@media (min-width: 1300px) {
  .accounts .account + .account {
    width: 49%;
  }
}
