.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .feature {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #576aa5;
    box-shadow: 0 2px 7px #465686;
    border-radius: 5px;

    .name {
      text-align: center;
      font-family: 'Uni Sans', sans-serif;
      font-size: 20px;
    }

    .banner {
      width: 100%;
      margin: 15px 0;
    }

    .video {
      position: relative;

      .text {
        position: absolute;
        bottom: 18px;
        padding-bottom: 5px;
        padding-top: 20px;
        opacity: 1;
        transition: opacity .3s;
        display: flex;
        width: 100%;
        align-items: center;
        background-image: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6) 65%, rgba(0, 0, 0, 0));

        img {
          width: 32px;
          margin: 0 10px;
        }
      }

      &:hover .text {
        opacity: 0;
      }
    }
  }
}
