.feature {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding: 25px;
  background-color: $primaryDark;
  box-shadow: 0 2px 7px $primaryDarker;

  .icon {
    flex-shrink: 0;
    width: 68px;
    height: 68px;
    margin-right: 35px;
  }

  .content {
    flex: 1;
  }

  .name {
    font-family: 'Discord', sans-serif;
    font-size: 22px;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      width: 64px;
      height: 6px;
      background-color: #fff;
    }
  }
}

/*
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .feature {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;

    .name {
      text-align: center;
    }

    .banner {
      width: 100%;
      margin: 15px 0;
    }

    .video {
      position: relative;

      .text {
        position: absolute;
        bottom: 18px;
        padding-bottom: 5px;
        padding-top: 20px;
        opacity: 1;
        transition: opacity .3s;
        display: flex;
        width: 100%;
        align-items: center;
        background-image: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6) 65%, rgba(0, 0, 0, 0));

        img {
          width: 32px;
          margin: 0 10px;
        }
      }

      &:hover .text {
        opacity: 0;
      }
    }
  }
}
*/
