@font-face {
  font-family: "Discord";
  src: url("/assets/Discord.otf")
}

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

body {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Discord', sans-serif;
  font-size: 32px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.container {
  flex: 1;
  padding: 0 10%;
}

.pc-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
  font-family: 'Lato', sans-serif;
  margin: 15px 0;
}
