# Editors
.idea
.vscode/*
!.vscode/powercord.code-workspace

# Le petabyte
node_modules

# yes
boat/.canary.cache.json
dist

# random shit
config.json
*.log
*.nogit.*
*.nogit/
package-lock.json
conf/nginx.custom.conf
