[submodule "packages/spoonfeed"]
	path = packages/spoonfeed
	url = https://github.com/borkenware/spoonfeed
[submodule "documentation"]
	path = documentation
	url = https://github.com/powercord-org/documentation
