<div class='feature<%= typeof soon !== 'undefined' ? ' soon' : ''%>'>
  <img class='icon' src='/assets/icons/<%= icon %>.svg' alt='icon'/>
  <div class='content'>
    <div class='name'><%= name %></div>
    <div class='desc'><%= description %></div>
  </div>
</div>
