<footer class='footer'>
  <div class='footer-inner'>
    <div title='pls no steal'>Copyright (c) 2018-2019 Powercord |</div>
    <div><a href='https://github.com/aetheryx/powercord-backend'>Source code</a> |</div>
    <div><a href='https://github.com/aetheryx/powercord-backend/blob/master/LICENSE'>LICENSE (MIT)</a> |</div>
    <div>Made with love by aetheryx, Bowser65 and contributors</div>
  </div>
  <div class='footer-inner'>
    <div>Powercord is not affiliated or endorsed by Discord. Discord is a trademark of Discord Inc. |</div>
    <div><a href='/legal/tos'>Terms of Service</a> |</div>
    <div><a href='/legal/privacy'>Privacy Policy</a></div>
  </div>
</footer>
