<footer class='footer'>
  <div class='inner'>
    <a class='separator' href='https://github.com/aetheryx/powercord-backend'>Source code</a>
    <a class='separator' href='https://github.com/aetheryx/powercord-backend/blob/master/LICENSE'>LICENSE (MIT)</a>
    <div>Made with love by aetheryx, Bowser65 and&nbsp;<a href='/contributors'>contributors</a></div>
  </div>
  <div class='inner'>
    <div class='separator' title='pls no steal'>Copyright (c) 2018-<%= new Date().getFullYear() %> Powercord</div>
    <div class='separator'>Powercord is not affiliated or endorsed by Discord. Discord is a trademark of Discord Inc.</div>
    <a class='separator' href='/legal/tos'>Terms of Service</a>
    <a href='/legal/privacy'>Privacy Policy</a>
  </div>
</footer>
