<% include cookieConsent.ejs %>
<footer class='footer'>
  <div class='inner'>
    <div class='separator' title='pls no steal'>Copyright (c) 2018-<%= new Date().getFullYear() %> Powercord</div>
    <div>Powercord is not affiliated or endorsed by Discord. <!-- no seriously?!?!!1? --> Discord is a trademark of Discord Inc.</div>
  </div>
  <div class='inner'>
    <a class='separator' href='https://github.com/powercord-org'>GitHub</a>
    <a class='separator' href='https://github.com/powercord-org/powercord-backend'>Source Code</a>
    <a class='separator' href='https://github.com/powercord-org/powercord-backend/blob/master/LICENSE'>LICENSE (MIT)</a>
    <a class='separator' href='/legal/tos'>Terms of Service</a>
    <a href='/legal/privacy'>Privacy Policy</a>
  </div>
</footer>
<script>
  function handleErroredAvatar (element, discrim) {
    element.src = `https://cdn.discordapp.com/embed/avatars/${discrim % 5}.png`
  }
</script>
