<% include cookieConsent.ejs %>
<footer class='footer'>
  <div class='inner'>
    <a class='separator' href='https://github.com/powercord-org'>GitHub</a>
    <a class='separator' href='https://github.com/aetheryx/powercord-backend/blob/master/LICENSE'>LICENSE (MIT)</a>
  </div>
  <div class='inner'>
    <div class='separator' title='pls no steal'>Copyright (c) 2018-<%= new Date().getFullYear() %> Powercord</div>
    <div class='separator'>Powercord is not affiliated or endorsed by Discord. <!-- no seriously?!?!!1? --> Discord is a trademark of Discord Inc.</div>
    <a class='separator' href='/legal/tos'>Terms of Service</a>
    <a href='/legal/privacy'>Privacy Policy</a>
  </div>
</footer>
