<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">

  <title>Powercord</title>
  <meta property="og:title" content="Powercord">
  <meta property="og:site_name" content="Powercord">

  <meta property="og:description" content="Backend for the Discord client mod Powercord">
  <meta name="description" content="Backend for the Discord client mod Powercord">

  <meta property="og:image" content="/assets/logo.png">
  <link rel="icon" type="image/x-icon" href="/assets/logo.png">
  <meta name="revisit-after" content="2 days">
</head>
