<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <link rel='stylesheet' href='/assets/style.css'>

  <title><%= typeof title !== 'undefined' ? title + ' • ' : '' %>Powercord</title>
  <meta property='og:title' content='<%= typeof title !== 'undefined' ? title + ' • ' : '' %>Powercord'>
  <meta property='og:site_name' content='Powercord'>

  <meta property='og:description' content='A lightweight Discord client mod focused on simplicity and performance'>
  <meta name='description' content='A lightweight Discord client mod focused on simplicity and performance'>

  <meta property='og:image' content='/assets/brand/plug.png'>
  <link rel='icon' type='image/x-icon' href='/assets/brand/plug.png'>
  <meta name='revisit-after' content='2 days'>
</head>
