<nav class='navbar'>
  <div class='title'>
    <img src='/assets/logo.svg' alt='Powercord logo' />
    <h1>Powercord</h1>
  </div>
  <div class='items'>
    <div class='item'>
      <a href='/'>Home</a>
      <a href='/contributors'>Contributors</a>
      <a href='/dashboard'>Dashboard</a>
    </div>
  </div>
  <a href='/oauth/discord' class='login'>Login with Discord</a>
  <!-- <div class='account'>
    <img src='http://bowser65.xyz/assets/img/avatar.jpg' alt='Your avatar' />
    <div class='details'>
      <div class='as'>Logged in as</div>
      <div class='name'>Bowser65<span>#4680</span></div>
      <a href='/logout' class='logout'>Logout</a>
    </div> -->
</nav>
