<div class='statistic'>
  <img class='icon' src='/assets/icons/<%= icon %>.svg' alt='icon'/>
  <div class='content'>
    <div class='count'><%= count %></div>
    <div class='name'><%= name %></div>
  </div>
</div>
