<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include ../_parts/head.ejs %>
<body>
<% include ../_parts/navbar.ejs %>
<div class='container dashboard changelogs'>
    <% include _parts/tabs.ejs %>
    not finished lol
</div>
<% include ../_parts/footer.ejs %>
</body>
</html>
