<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ../_parts/head.ejs %>
  <body>
    <% include ../_parts/navbar.ejs %>
    <div class='container dashboard'>
      <div class='header'>
        <h2><%= current %></h2>
        <% if (current === 'plugins') { %>
          <a href='/dashboard/users'>Manage users</a>
        <% } else { %>
          <a href='/dashboard'>Manage plugins</a>
        <% } %>
      </div>
      <% if (current === 'plugins') { %>
        <a href='/dashboard/create' class='btn create'>Create a new plugin</a>
      <% } else { %>
        <form method="post">
          <button type='submit' class='btn create'>Save user settings</button>
      <% } %>

      <% for(var i=0; i < items.length; i++) { %>
        <%- include('../_parts/' + current.substr(0, current.length - 1), { item: items[i] }) %>
      <% } %>

      <% if (current !== 'plugins') { %>
        </form>
      <% } %>
    </div>
    <% include ../_parts/footer.ejs %>
  </body>
</html>
