<!DOCTYPE html>
<html lang="en" dir="ltr">
<% include ../_parts/head.ejs %>
<body>
<% include ../_parts/navbar.ejs %>
<div class='container dashboard plugins'>
    <% include _parts/tabs.ejs %>
    <form method='post' action='/dashboard/plugins'>
        <div class='search'>
            <input type='text' placeholder='Filter plugins by name or description' class='flex-full' id='search'
                   autocomplete='off'/>
            <button type='submit' class='btn create'>Save settings</button>
        </div>
        <div class='list'>
            <% for(var i = 0; i < items.length; i++) { %>
                <%- include('_parts/plugin', { item: items[i] }) %>
            <% } %>
        </div>
    </form>
</div>
<% include ../_parts/footer.ejs %>
<script>
  (function () {
    document.querySelector('#search').addEventListener('input', e => {
      document.querySelectorAll('.plugin').forEach(el => {
        if (el.dataset.name.includes(e.target.value) || el.dataset.description.includes(e.target.value)) {
          el.removeAttribute('style')
        } else {
          el.style.display = 'none'
        }
      })
    })
  })()
</script>
</body>
</html>
