/* ok i'm not good at doing responsive shit. cleanup/improve for a FREE contributor badge no clickbait!!!1!1 */
@media (min-width: 1500px) {
  .contributors .contributor {
    width: 24%;
  }
}

@media (min-width: 1400px) {
  .user {
    width: 24%;
  }

  .plugin {
    width: 24%;
  }
}

@media (min-width: 1300px) {
  .features .feature {
    width: 24%;
  }
}
