<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include _parts/head %>
  <body>
    <% include _parts/navbar %>
    <div class='container'>
      <!-- Hey todo lol -->
      <h2>Developers</h2>
      <h2>Contributors</h2>
    </div>
    <% include _parts/footer %>
  </body>
</html>
