<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include _parts/head.ejs %>
  <body>
    <% include _parts/navbar.ejs %>
    <div class='container'>
      <h2>Developers</h2>
      <div class='contributors'>
        <% developers.forEach(c => { %>
          <%- include('_parts/contributor.ejs', { contributor: c.metadata }) %>
        <% }) %>
      </div>
      <h2>Contributors</h2>
      <div class='contributors'>
        <% contributors.forEach(c => { %>
          <%- include('_parts/contributor.ejs', { contributor: c.metadata }) %>
        <% }) %>
      </div>
    </div>
    <% include _parts/footer.ejs %>
  </body>
</html>
