<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <% include _parts/head.ejs %>
  <body>
    <% include _parts/navbar.ejs %>
    <div class='container'>
      <div class='pc-header'>The best Discord client mod you'll ever need. Powerful, simple, bloatless, (almost) breakproof and more.</div>
      <div class='features'>
        <%- include('_parts/feature', {
          name: 'Spotify modal',
          banner: '/assets/features/spotify.mp4',
          description: 'Pause, skip, forward and seek directly from Discord. You can even right click to play playlists, toggle repeat or change the volume.'
        }) %>
        <%- include('_parts/feature', {
          name: 'Built-in translator',
          banner: '/assets/features/translator.mp4',
          description: 'Ever wondered what these weird Dutch guys are yapping on about? Just right click their message to translate it to English to give them the \'nee jij\' they deserve!'
        }) %>
        <%- include('_parts/feature', {
          name: 'Neater codeblocks',
          banner: '/assets/features/codeblocks.mp4',
          description: 'See linecount, language and directly copy code from a codeblock!'
        }) %>
        <%- include('_parts/feature', {
          name: 'Themes',
          banner: '/assets/features/themes.jpeg',
          description: 'Wanna make your discord look cooler? Powercord users offer many themes that you can use, or make your own!'
        }) %>
      </div>
    </div>
    <% include _parts/footer.ejs %>
  </body>
</html>
