<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include _parts/head %>
  <body>
    <% include _parts/navbar %>
    <div class='container'>
      
    </div>
    <% include _parts/footer %>
  </body>
</html>
