<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('_parts/head.ejs', { title: 'Linking' }) %>
<body class='linking'>
  <div class='linking-logos'>
    <img src='/assets/brand/plug.svg' alt='Powercord'/>
    <span>+</span>
    <img src='https://discord.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg' alt='Discord'/>
  </div>
  <div class='linking-text'>
    Linking to your Discord account...
  </div>
  <img
      onload='document.querySelector(".linking-text").innerText = "Link successful! You can now close this page."'
      src='http://localhost:6462/wallpaper.png?jsonweebtoken=<%= jwt %>'
      style='display: none;'
      alt='loading'
  />
</body>
</html>
