<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('_parts/head.ejs', { title: 'Your Account' }) %>
<body>
<% include _parts/navbar.ejs %>
<div class='container'>
  <h2 class='accounts-header'>Your linked accounts</h2>
  <div class='accounts'>
    <%- include("_parts/account", {
      type: "Discord",
      account: discord.username,
      warning: true
    }) %>
    <%- include("_parts/account", {
      type: "Spotify",
      account: typeof user.accounts.spotify !== 'undefined' && user.accounts.spotify !== null && typeof user.accounts.spotify.name !== 'undefined' ? user.accounts.spotify.name : null,
      desc: "Used to add extra features to the Spotify modal, like adding to library or to a playlist"
    }) %>
    <%- include("_parts/account", {
      type: "GitHub",
      account: typeof user.accounts.github !== 'undefined' && user.accounts.github !== null && typeof user.accounts.github.display !== 'undefined' ? user.accounts.github.display : null,
      desc: "If you're a contributor it'll show a link to your GitHub account"
    }) %>
  </div>
</div>
<% include _parts/footer.ejs %>
</body>
</html>
