@font-face {
  font-family: "Uni Sans";
  src: url("unisanscaps.otf")
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #7289DA;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

h2 {
  font-family: 'Uni Sans', sans-serif;
  font-size: 20px;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.container {
  flex: 1;
  padding: 0 10%;
}

.pc-header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

/* Navbar */
.navbar {
  display: flex;
  padding: 0 25px;
  align-items: center;
  min-height: 70px;
  max-height: 70px;
  margin-bottom: 25px;
}

.navbar .title {
  display: flex;
  align-items: center;
}

.navbar .title h1 {
  font-family: 'Uni Sans', sans-serif;
  margin: 0;
  margin-top: 2px;
}

.navbar .title img {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  margin-right: 15px;
}

.navbar .items {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.navbar .items a {
  margin-right: 15px;
}

.navbar .account {
  display: flex;
}

.navbar .account img {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.navbar .account .details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
}

.navbar .account .details .name {
  font-size: 18px;
}

.navbar .account .details .name span {
  opacity: .6;
  font-size: 14px;
}

.navbar .account .details .logout {
  opacity: .6;
}
/* END: Navbar */

/* Footer */
.footer {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #576aa5;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-inner {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer div {
  margin-right: 5px;
}
/* END: Footer */

/* Form */
form {
  padding: 0 20px;
}

form .fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .input-field {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

form .input-field label {
  margin-bottom: 10px;
}

form .input-field.error label {
  color: #f44336;
}

form .input-field input {
  background-color: #576aa5;
  border: 1px #354163; solid;
  box-shadow: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 7px #354163;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-appearance: none;
  font-family: 'Lato', sans-serif;
  margin: 15px 0;
}

.btn.create {
  background-color: #4caf50;
}

.btn.delete {
  background-color: #f44336;
}
/* END: Form */

/* Home feature block */
.features {
  display: flex;
  justify-content: space-between;
}

.features .feature {
  width: 23%;
  padding: 10px;
  background-color: #576aa5;
  box-shadow: 0 2px 7px #465686;
  border-radius: 5px;
}

.features .feature .name {
  text-align: center;
  font-family: 'Uni Sans', sans-serif;
  font-size: 20px;
}

.features .feature .banner {
  width: 100%;
  margin: 15px 0;
}
/* END: Home feature block */

/* Link account */
.container .account {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
}

.container .account img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.container .account .info {
  flex: 1;
}

.container .account.spotify {
  background-color: #1DB954;
  box-shadow: 0 2px 7px #15853c;
}

.container .account.github {
  background-color: #292d32;
  box-shadow: 0 2px 7px #101213;
}

.container .account.discord {
  background-color: #576aa5;
  box-shadow: 0 2px 7px #465686;
}
/* END: Link account */

/* Dashboard */
.dashboard .header {
  display: flex;
  align-items: center;
}

.dashboard .header h2 {
  flex: 1;
}
/* END: Dashboard */

/* Dashboard plugin */
/* END: Dashboard plugin */

/* Dashboard plugin editor */
/* END: Dashboard plugin editor */

/* Dashboard contributor */
.dashboard .contributor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #465686 solid;
}

.dashboard .contributor img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.dashboard .contributor .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard .contributor .name span,
.dashboard .contributor .name .id {
  opacity: .6;
  font-size: 12px;
}

.dashboard .contributor .rank {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.dashboard .contributor .rank label {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
/* END: Dashboard contributor */
