@media (min-width: 750px) {
  /* Navbar */
  .navbar .title h1 {
    display: block;
  }
  /* END Navbar */

  /* Home feature block */
  .features .feature {
    width: 49%;
  }
  /* END Home feature block */

  /* Contributors */
  .contributor {
    width: 49%;
    margin-right: 1%;
  }
  /* END Contributors */

}
