.dashboard.plugins {
  .search {
    display: flex;
    align-items: center;

    input {
      padding: 5px 10px;
      height: 32px;
      flex: 1;
      margin-right: 15px;
    }
  }

  .input-field {
    padding: 0;
  }
}

.plugin {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: $primaryDark;
  border: 1px $primaryDarker solid;

  h2 {
    margin-top: 0;
  }

  h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px #fff solid;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .name {
      font-family: 'Discord', sans-serif;
      font-size: 18px;
    }

    .by {
      font-size: 16px;

      span {
        font-size: 12px;
        opacity: .6;
      }
    }
  }

  .info {
    .element {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }

    &.no-manifest {
      text-align: center;
    }
  }

  .developer {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }

    .id, .name span {
      opacity: .6;
      font-size: 12px;
    }

    + .developer {
      margin-top: 10px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;

    .btn {
      margin: 0 0 5px;
      width: auto;
    }
  }

  form {
    padding: 0;

    .input-field {
      padding-top: 0;

      + .input-field {
        padding-bottom: 5px;
      }
    }

    label {
      margin-bottom: 3px;
    }

    input:not([type="checkbox"]) {
      padding: 5px 10px;
      height: 32px;
      width: 100%;
    }

    .btn {
      margin-bottom: 0;
    }
  }
}
