.tabs {
  display: flex;
  border-bottom: 1px #d0d0d0 solid;
  margin-bottom: 10px;
  padding: 0 25px;

  .tab {
    position: relative;
    bottom: -1px;
    padding: 10px 15px;
    margin-right: 5px;
    border: 1px transparent solid;

    &.current {
      border-color: #d0d0d0;
      border-bottom-color: $primary;
      background-color: $primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
