<div class='tabs'>
    <a href='/dashboard/announcements' class='tab <%= current === 'announcements' ? 'current' : '' %>'>Announcements</a>
    <a href='/dashboard/plugins' class='tab <%= current === 'plugins' ? 'current' : '' %>'>Plugins</a>
    <a href='/dashboard/themes' class='tab <%= current === 'themes' ? 'current' : '' %>'>Themes</a>
    <a href='/dashboard/users' class='tab <%= current === 'users' ? 'current' : '' %>'>Users</a>
</div>
